<!doctype html>
<html>
    <head>
        <meta charset='utf-8'>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title }}</title>
        
        <link href="/static/css/daisyui.css" rel="stylesheet" type="text/css">
        <link href="/static/css/main.css" rel="stylesheet">
        {% for css in css_files %}<link href="/static/css/{{ css }}" rel="stylesheet">{% endfor %}

        <script src="/static/js/react/react.prod.js"></script>
        <script src="/static/js/react/react-dom.prod.js"></script>
        <script src="/static/js/react/babel.js"></script>
        
        <script src="/static/js/tailwind.js"></script>
        <script src='/static/js/fullcalendar.js'></script>
        <script src="/static/js/theme-change.js"></script>

        <script>let url_params = {{ url_params|safe }};</script>
        <script type="text/babel" src="/static/js/elements/basics.js"></script>
        {% for js in js_files %}<script type="text/babel" src="/static/js/{{ js }}"></script>{% endfor %}
    </head>
    <body>
        <script type="text/babel">
            ReactDOM.createRoot(document.body).render(<Page />);
        </script>
    </body>
</html>